.header__subtitle {
    max-width: 338px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 64px;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    z-index: 2;
    margin: 0;
  }